<div class="categories-contain">
  <header>
  </header><h1>Add a new Transaction</h1>
  <%= link_to '< Back', user_category_path(id: params[:category_id]), class:'back' %>
  </header>
  <%= form_with model: @category, class: 'cat-form', url:  user_category_entities_path(current_user,params[:category_id]) do |form|%>
  <div class='mb-3'>
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control', :required => true, :placeholder => 'Write the name of the Entity here' %>
  </div>

  <div class='mb-3'>
  <%= form.label :amount %>
  <%= form.number_field :amount,step: :any, class: 'form-control', :required => true, :placeholder => 'enter the amount here' %>
  </div>
  
  <div class='mb-3'>
  <%= form.submit 'New Category' ,class: 'btn btn-primary'%>
  
  </div>
  <% end %>
</div>